/*Duplicate CSS for New Home Page Layout. This file will be merged with existing CSS*/

.ui-dialog .ui-dialog-titlebar {
	background:#5885A8;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0 0 5px #DFDFDF;
	color: #FFFFFF;
	height: 30px;
	margin-bottom: 10px;
	padding: 0.8em 0.3em 0.3em 1em;
	position: relative;
}
.glb-invite-title {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #f1f1F1;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    width: 95%;
}

.ui-dialog .ui-dialog-buttonpane{
    background-color: #CCCCCC;
    color: #666666;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background: #6FC6D1;
    border: 0 solid #D3D3D3;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
    outline: medium none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
	background:#fff;
	border-right:1px solid #DFDFDF;
	border-left:1px solid #DFDFDF;
	border-top:1px solid #DFDFDF;
}

.ui-tabs .ui-tabs-nav li {
    border: 1px solid #6FC6D1;
    border-radius: 5px 5px 0 0;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 0 2px 0 0;
    padding: 0 1px;
    position: relative;
}
.ui-state-hover a, .ui-state-hover a:hover { text-decoration: none; outline: none;

   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #0FF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: none;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */


}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { 

	background:#5BB2BD;
	
	/*border: 1px solid #999999;/*{borderColorHover}*/
	/*background:url(/default/images/background/form-tab-bg_light_hover.png);
	font-weight: normal/*{fwDefault}*/
	color: #fff/*{fcHover}*/; 
	outline: none; 
	
	}
.wgt-moreList-control{
	padding:20px 10px 10px;
}
.wgt-pageList-item-ormission {
	background: #6FC6D1;
	border-radius: 2px;
	color: #FFFFFF !important;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px;
}
.wgt-pageList-item-ormission:hover{
	background:#5885A8 !important;
	box-shadow:0 0 2px #dfdfdf !important;
}
.wgt-pageList-pageList-item {
    background: #6FC6D1;
    border-radius: 2px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
}
.wgt-pageList-pageList-item:hover{
	background:#5885A8 !important;
	box-shadow:0 0 2px #dfdfdf !important;
}
.wgt-pageList-selected {
    background: #5885A8;
    box-shadow: 0 0 2px #dfdfdf;;
    color: #FFFFFF !important;
}
.wgt-item-select-div {
    color: #666666;
    float: right;
    font-size: 12px;
    font-weight: bold;
    overflow:hidden;
}
.wgt-item-select-div span {
    margin-right:5px;
}
.wgt-item-select-div select {
	font-size:12px;
}
.sp-simple-button{
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 15px;
	text-align: center;
	background:#6fc6d1;
	border:1px solid #6fc6d1;
}

.sp-simple-button:hover{
	color:#fff;
	background:#5BB2BD;
	cursor:pointer;
	border:1px solid #5BB2BD;
}

.sp-client-buyer-count{
	float:left;
	margin-left:5px;
	text-decoration: underline;
	cursor:pointer;
}
.sp-client-buyer-count:hover{
	color: #003896;
	cursor: pointer;
}

.proj-view-activities-table thead {
    background-color: #DFDFDF;
    color: #656565;
    font-size: 16px;
    height:30px;
    list-style: none outside none;
    padding: 10px 5px 5px;
}
.proj-view-activities-table th {
    border: 1px solid #F1F1F1;
    border-radius: 5px 0 0 0;
    color: #656565;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
}